body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.banner, .footer {
	width: 100%;
	min-height: 100px;
	height: 100px;
	background-color: #222;
}
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	}
.zurgo {
	background: url(../img/zurgo.jpg) no-repeat;
}