img {
	max-width: 100%;
}

.container {
	nav {
		padding: 0 2.0rem;
		margin-bottom: 2.0rem;
		.column {
			text-align: center;
			a {
				display: block;
				width: 100%;
				padding: 10px 0 10px 0;
				&:hover {
					background: #000;
				}
			}
		}
	}
	section {
		padding: 0 2.0rem;
		&:nth-child(odd) {
			background: #222;
		}
	}
}

canvas {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

