img {
	max-width: 100%;
}
a.active {
	font-weight: bold;
}
.container {
	position: relative;
	nav {
		padding: 0 2.0rem;
		//margin-bottom: 2.0rem;
		.column {
			text-align: center;
			a {
				display: block;
				width: 100%;
				padding: 10px 0 10px 0;
				text-transform: uppercase; 
				&:hover {
					//background: #000;
				}
			}
		}
	}
	section {
		padding: 2rem 2.5rem;
		&.dark {
			background: #222;
			color: #ccc;
			a {
				color: #ffff99;
				&:hover {
					color: #ffd700;
				}
			}

		}
	}
	.stickynav {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		top: 0;
		//display: none;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #222;
		z-index: 9999999;
		ul {
			width: 100%;
			margin: 0;
			li {
				display: inline-block;
				padding: 1% 5% 1% 5%;
			}
		}
	}
}

canvas {
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
footer {
	p {
		border-top: 1px solid #ccc;
		text-align: center;
		padding: 5px 0 0 0;
		font-size: 1.2rem;
		margin: 0;
	}
}
// Roster Icons and SVG Classes
.accordion{
	margin: 3rem 0 0 3rem;
}
.showTable {
	margin: 1rem 0 0 3rem;
	max-height: 400px;
	overflow: scroll;
}
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border: 1px solid #000;
	position: relative;
}
.alesha {
	background: url(../img/alesha.jpg) no-repeat;
}
.karador {
	background: url(../img/karador.jpg) no-repeat;
}
.mimeoplasm {
	background: url(../img/mimeoplasm.jpg) no-repeat;
}
.derevi {
	background: url(../img/derevi.jpg) no-repeat;
}
.nekusar {
	background: url(../img/nekusar.jpg) no-repeat;
}
.zur {
	background: url(../img/zur.jpg) no-repeat;
}
.maelstrom {
	background: url(../img/maelstrom.jpg) no-repeat;
}
.hazezon {
	background: url(../img/hazezon.jpg) no-repeat;
}
.unknown {
	background: url(../img/unknown.jpg) no-repeat;
}
.symbol-container {
	position: absolute;
	top: 75%;
	left: 10%;
}
.mana-symbol {
	width: 35px;
	height: 35px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}
.mana-symbol-main {
	height: 40px;
	width: 40px;
}
// .stars {
//   background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
//   z-index:2;
// }
// .twinkling{
//   background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
//   z-index:5;
//   -moz-animation:move-twink-back 200s linear infinite;
//   -ms-animation:move-twink-back 200s linear infinite;
//   -o-animation:move-twink-back 200s linear infinite;
//   -webkit-animation:move-twink-back 200s linear infinite;
//   animation:move-twink-back 200s linear infinite;
// }

// @keyframes move-twink-back {
//     from {background-position:0 0;}
//     to {background-position:-10000px 5000px;}
// }
// @-webkit-keyframes move-twink-back {
//     from {background-position:0 0;}
//     to {background-position:-10000px 5000px;}
// }
// @-moz-keyframes move-twink-back {
//     from {background-position:0 0;}
//     to {background-position:-10000px 5000px;}
// }
// @-ms-keyframes move-twink-back {
//     from {background-position:0 0;}
//     to {background-position:-10000px 5000px;}
// }
// .stars, .twinkling {
//   position:absolute;
//   top:0;
//   left:0;
//   right:0;
//   bottom:0;
//   width:100%;
//   height:100%;
//   display:block;
// }